<!-- This template is extended from the main base.html file located in the root templates directory -->
{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

<!-- Additional sub-header block below main header, extended from base.html -->
{% block page_header %}
<div class="container header-container col-8 mx-auto">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}


<!-- The block content below is injected into the main base.html template -->
{% block content %}

<!-- Div containing two rows with a single column each -->
<div class="container mb-2">

    <!-- Shopping bag heading -->
    <div class="row mt-5">
        <div class="col">
            <hr>
            <h2 class="purple-text mt-5 mb-5 text-center">
                What's in your cart..
            </h2>
        </div>
    </div>

    <!-- Table showing shopping cart contents -->
    <div class="row">
        <div class="col">
            {% if cart_items %}
            <!-- Table is only rendered if there is an item in the cart, it will
            be used to display details of the chocolates added to the cart -->
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">

                    <!-- Header row of table with column titles -->
                    <thead class="purple-text">
                        <tr>
                            <th scope="col" class="text-center"></th>
                            <th scope="col">Chocolate Name</th>
                            <th scope="col">Item Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    <!-- This row oops through the items in the cart and retrieves specific details -->
                    {% for item in cart_items %}
                    <tr>
                        <!-- Chocolate image -->
                        <td class="p-3 w-25">
                            {% include "cart/chocolate_image.html" %}
                        </td>

                        <!-- Chocolate friendly name -->
                        <td class="py-3">
                            {% include "cart/chocolate_info.html" %}
                        </td>

                        <!-- Chocolate price -->
                        <td class="py-3">
                            <p class="my-0 purple-text">€{{ item.chocolate.choc_price }}</p>
                        </td>

                        <!-- Quantity -->
                        <td id="cart-quantity-col" class="">

                            <!-- The form below allows user to adjust item quantity at the cart screen -->
                            {% include "cart/quantity_form.html" %}
                        </td>
                        <td class="py-3">
                            <p class="my-0 purple-text"><strong>€{{ item.chocolate.choc_price | calc_subtotal:item.quantity }}</strong></p>
                        </td>
                    </tr>
                    {% endfor %}

                    <!-- This row renders the details of the transaction total -->
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            {% include "cart/cart_total.html" %}
                        </td>
                    </tr>

                    <!-- This row renders the checkout link -->
                    <tr>
                        <td colspan="5" class="text-right">
                            {% include "cart/checkout_buttons.html" %}
                        </td>
                    </tr>
                </table>
                <!-- Table ends above this line -->
            </div>

            {% else %}
            <div class="text-center">
                <!-- If no item is in the cart, the message below is displayed instead -->
                <p class="lead mt-5 mb-5 purple-text text-center">
                    ..Oh, it's actually empty.<br>Some chocolate might look good in here.<br>Just saying...
                </p>
                <!-- Link to chocolates is shown when cart is empty -->
                <a href="{% url 'chocolates' %}" class="keep-shopping-button btn-lrg">
                    <span>
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>
                        Take me to your chocolate!
                    </span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>


</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'chocolates/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    });

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    });
    // JS code block validate in JS Hint, no error
</script>


{% endblock %}