<!-- The form below allows user to adjust item quantity at the cart screen -->
 <div class="mobile-quantity-input">
<form method="POST" action="{% url 'adjust_cart' item.item_id %}" class="form update-form">
    {% csrf_token %}

    <div class="form-group">
        <div class="input-group input-group-{{ item.item_id }}">

            <!-- Button to reduce number of chocolates -->
            <div class="input-group-prepend">
                <button class="decrement-qty btn btn-sm btn-black rounded-0 decrement-qty_{{ item.item_id }}" 
                data-item_id="{{ item.item_id }}">
                    <span>
                        <i class="fas fa-minus fa-sm purple-text font-weight-bold"></i>
                    </span>
                </button>
            </div>

            <!-- Input field showing quantity -->
            <input class="form-control rounded-lg form-control-sm text-center purple-text border-purple qty_input id_qty_{{ item.item_id }}" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
            data-item_id="{{ item.item_id }}">

            <!-- Button to increase number of chocolates -->
            <div class="input-group-append">
                <button class="increment-qty btn btn-sm rounded-sm increment-qty_{{ item.item_id }}"
                    data-item_id="{{ item.item_id }}">
                    <span>
                        <i class="fas fa-plus fa-sm purple-text font-weight-bold"></i>
                    </span>
                </button>
            </div>

        </div>
    </div>
</form>
<!-- Form ends above this line -->
<a class="update-link text-success"><small>Update</small></a>
<a class="remove-item text-danger float-right"
    id="mobile_remove_{{ item.item_id }}"><small>Remove</small></a>
</div>