<!-- This template is extended from the main base.html file located in the root templates directory -->
{% extends "base.html" %}
{% load static %}

<!-- Additional sub-header block below main header, extended from base.html -->
{% block page_header %}
<div class="container header-container col-8 mx-auto">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}


<!-- The block content below is injected into the main base.html template -->
{% block content %}

<div id="hero-image-container">

    <!-- Chocelegance logo placed in hero container, will only be displayed on mobile, from index.html -->
    <div id="mobile-logo" class="d-block d-sm-block d-md-block d-lg-none">
        <a href="{% url 'home' %}" class="nav-link d-inline-flex">
            <h2 class=""><strong>chocelegance</strong></h2><span class="small mobile-logo-heart">&#10084;</span>
        </a>
    </div>



    <!-- Hero image main text, from index.html -->
    <div id="hero-image-text-heading">
        <p>
            It's time to<br><strong>treat*</strong><br>yourself!
            <p>
    </div>

    <!-- Hero image sub text, from index.html -->
    <div id="hero-image-text-sub-heading">
        <p>
            <strong>*guaranteed guilt free</strong>
        </p>
    </div>

    <!-- Treat yourself now button, links to all chocolates, from index.html -->
    <div class="treat-yourself-button">
        <p>
            <a href="{% url 'chocolates' %}"><strong>Treat yourself now!</strong></a>
        </p>
    </div>

</div>




<div class="testimonial-header">
    <h3 class="purple-text text-center font-weight-bold mt-5">Testimonials</h3>
    <p class="purple-text text-center mt-3">
        We like to think we offer the best hand crafted, <strong class="bright-purple-text">diet friendly</strong> chocolates in town. But we also think that self
        praise, is no praise...
    </p>
    <p class="purple-text text-center mt-1">
        So read what our customers have to say about us instead!
    </p>
</div>
<!-- Testimonial carousel -->
<div id="carousel-controls" class="carousel slide my-5 px-3" data-ride="carousel">

    <div class="carousel-inner carousel-blockquote">

        <!-- Loops through Testimonial mode -->
        {% for testimonial in testimonials %}
            <!-- Checks if testimonial_publish field has been set to "Yes" and renders content if it is -->
            {% if testimonial.testimonial_publish == "Yes" %}
                <!-- DTL If statement will determine if testimonial is first in the loop and adds the 'active' attribute if it is, needed for carousel to operate -->
                {% if forloop.first %}
                
                <div class="carousel-item active">
                    <!-- Testimonial displayed in blockquote -->
                    <figure>
                        <blockquote class="blockquote purple-text">
                                <strong class="bright-purple-text">"</strong> {{ testimonial.testimonial_text }} <strong class="bright-purple-text">"</strong>
                        </blockquote>

                        <figcaption class="blockquote-footer bright-purple-text">
                            {{ testimonial.testimonial_user_display }}
                            <span>
                                , {{ testimonial.testimonial_date }}
                            </span>
                        </figcaption>
                    </figure>
                </div>
                {% else %}
                <div class="carousel-item">
                    <!-- Testimonial displayed in blockquote -->
                    <figure>
                        <blockquote class="blockquote purple-text">
                            <strong class="bright-purple-text">"</strong> {{ testimonial.testimonial_text }} <strong class="bright-purple-text">"</strong>
                        </blockquote>

                        <figcaption class="blockquote-footer bright-purple-text">
                            {{ testimonial.testimonial_user_display }}
                            <span>
                                , {{ testimonial.testimonial_date }}
                            </span>
                        </figcaption>
                    </figure>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>


    <a class="carousel-control-prev" href="#carousel-controls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon purple-text" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next purple-text" href="#carousel-controls" role="button" data-slide="next">
        <span class="carousel-control-next-icon purple-text" aria-hidden="true"></span>
        <span class="sr-only bright-purple-text">Next</span>
    </a>

</div>


{% endblock %}