<!-- This template is extended from the main base.html file located in the root templates directory -->
{% extends "base.html" %}
{% load static %}

<!-- Additional sub-header block below main header, extended from base.html -->
{% block page_header %}
<div class="container header-container col-8 mx-auto">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}


<!-- The block content below is injected into the main base.html template -->
{% block content %}

<div id="hero-image-container">

    <!-- Hero image main text -->
    <div id="hero-image-text-heading">
        <p>
            It's time to <strong>treat*</strong> yourself!
        <p>
    </div>

    <!-- Hero image sub text -->
    <div id="hero-image-text-sub-heading">
        <p>
            <strong>*guaranteed guilt free</strong>
        </p>
    </div>

    <!-- Treat yourself now button, links to all chocolates -->
    <div id="shop-button">
        <p>
            <a href="{% url 'chocolates' %}">Treat yourself now!</a>
        </p>
    </div>

    <!-- </div> -->
</div>


<!-- <div class="container h-100 col-8 mx-auto">
    <div class="row h-100 col-8 mx-auto">




    </div>
</div> -->
{% endblock %}