<!-- This template is extended from the main base.html file located in the root templates directory -->
{% extends "base.html" %}
{% load static %}

<!-- Additional sub-header block below main header, extended from base.html -->
{% block page_header %}
<div class="container header-container col-8 mx-auto">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}


<!-- The block content below is injected into the main base.html template -->
{% block content %}
<!-- Overlay div controls the background (changes it to all white) -->
<div class="overlay">
</div>


<div class="container-fluid col-8 mx-auto">
    <!-- First row contains page title and selected categories  -->
    <div class="row">
        <div class="col text-center mt-5">
            <!-- <h2 class="logo-font">Chocolates</h2> -->

            {% for c in current_categories %}
            <a class="category-badge text-decoration-none" href="{% url 'chocolates' %}?category={{ c.choc_friendly_name }}">
                <span class="p-2 mt-2 badge rounded-0 border">{{ c.choc_friendly_name }}</span>
            </a>
        {% endfor %}
        </div>
    </div>

    <!-- Second row contains the chocolates, this row consists of another two rows -->
    <div class="row">
        <div class="chocolate-container col-10 offset-1">

            <div class="row mt-2 mb-2">
                <!-- This div contains the sorting options, displays a drop down menu with the options -->
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border-purple purple-text border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'choc_price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'choc_price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'choc_rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'choc_rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'choc_name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'choc_name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'choc_category_display_asc' %}selected{% endif %}>Category (A-Z)</option>
                            <option value="category_desc" {% if current_sorting == 'choc_category_display_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>

                <!-- This div contains the product count and search results -->
                <div class="col-12 col-md-6 order-md-first">
                    <p class="active-cart mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                            <span class=""><a class="purple-text" href="{% url 'chocolates' %}">Return to Chocolates Home</a> | </span>
                        {% endif %}
                        {{ chocolates|length }} Result(s){% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>

            <!-- This row contains a DTL for loop to iterate through the chocolates context variable -->
            <div class="row">
                {% for chocolate in chocolates %}
                <!-- Creates a bootstrap card for each chocolate -->
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                    <div class="card h-100 border-0 rounded-2">

                        <!-- Card image -->
                        {% if chocolate.choc_image %}
                        <div class="choc-image-container">
                            <a href="{% url 'chocolate_detail' chocolate.id %}">
                                <img class="card-img-top img-fluid rounded-2" src="{{ chocolate.choc_image.url }}"
                                    alt="{{ chocolate.choc_name }}">
                            </a>
                        </div>
                        {% else %}
                        <a href="{% url 'chocolate_detail' chocolate.id %}">
                            <img class="card-img-top img-fluid rounded-2" src="{{ MEDIA_URL }}noimage.webp"
                                alt="{{ chocolate.choc_name }}">
                        </a>
                        {% endif %}

                        <!-- Card body -->
                        <div class="card-body pb-0  rounded-2">
                            <p class="mb-0">{{ chocolate.choc_name }}</p>
                        </div>

                        <!-- Card footer -->
                        <div class="card-footer bg-white pt-0 border-0 text-left rounded-2">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">€{{ chocolate.choc_price }}</p>
                                    <!-- Displays the chocolate category below the price (e.g Dark, Milk, White etc) -->
                                    {% if chocolate.choc_category_display %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted"
                                            href="{% url 'chocolates' %}?choc_category_display={{ chocolate.choc_category_display }}">
                                            <i
                                                class="fas fa-tag mr-2 active-cart"></i>{{ chocolate.choc_category_display.choc_friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}

                                    <!-- Displays the diet type below the category (e.g Keto, Vegan, Gluten-Free etc) -->
                                    {% if chocolate.choc_dietary_type %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted"
                                            href="{% url 'chocolates' %}?choc_dietary_type={{ chocolate.choc_dietary_type }}">
                                            <i
                                                class="fa-solid fa-check text-success mr-2"></i>{{ chocolate.choc_dietary_type.diet_friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}
                                    {% if chocolate.choc_rating %}
                                    <small class="text-muted"><i
                                            class="fas fa-star mr-1 text-warning"></i>{{ chocolate.choc_rating }} / 5</small>
                                    {% else %}
                                    <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Card ends with closing div tag above -->
                </div>
                {% endfor %}
            </div>


        </div>
    </div>
</div>

<div class="btt-button shadow-sm rounded-2 border border-black">
    <a class="btt-link d-flex h-100">
        <i id="back-to-top-icon" class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>	
</div>

{% endblock %}


{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0);
    });
</script>

<script type="text/javascript">
    $('#sort-selector').change(function() {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if(selectedVal != "reset"){
            // Breaks the value in the option element into a string seperated by "_" (e.g value="price_asc" will become 2 items 'price' and 'asc') 
            var sort = selectedVal.split("_")[0];

            // Switch statement below will check the value in the first element of the array (index [0]) stored in the 'sort' variable
            // and assign the correct value to the 'sort' variable to match the expected url construction (matching the model's parameters)
            
            switch(sort) {
                case "price":
                    sort = "choc_price";
                    break;
                case "rating":
                    sort = "choc_rating";
                    break;
                case "name":
                    sort = "choc_name";
                    break;
                default:
                    sort = "choc_category_display";
            }

            // Breaks the value in the option element into a string seperated by "_" 
            // (e.g value="choc_category_display" will become 3 items 'choc', 'category' and 'display')
            // The 'slice(-1)'' ensures the last index (asc or desc) value is captured
            var direction = selectedVal.split("_").slice(-1);

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
        // JS code block validated in JS Jint, no errors
    });
</script>
{% endblock %}
