<!-- This template is extended from the main base.html file located in the root templates directory -->
{% extends "base.html" %}
{% load static %}

{% block extra_title %} Chocolate Details{% endblock %}

<!-- Additional sub-header block below main header, extended from base.html -->
{% block page_header %}
<div class="container header-container col-8 mx-auto mb-3">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}


<!-- The block content below is injected into the main base.html template -->
{% block content %}
<!-- Overlay div controls the background (changes it to all white) -->
<div class="overlay">
</div>


<div class="container-fluid col-12 col-md-10 col-lg-10 mt-4 mx-auto">
    <!-- One row split into two columns  -->
    <div class="row">

        <!-- First column is the chocolate image container, display review section and submit review section -->
        <div class="col-12 col-md-6 col-lg-6 col-xl-4 offset-xl-2 mb-4">
            <h2 class="mb-4 d-md-none purple-text">{{ chocolate.choc_friendly_name }}</h2>
            <div class="choc-image-container-detail">
                {% if chocolate.choc_image %}
                <a href="{{ chocolate.choc_image.url }}" target="_blank">
                    <img class="card-img-top img-fluid rounded-2" src="{{ chocolate.choc_image.url }}"
                        alt="{{ chocolate.choc_name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid rounded-2" src="{{ MEDIA_URL }}noimage.webp"
                        alt="{{ chocolate.choc_name }}">
                </a>
                {% endif %}
            </div>

            <!-- Display Review section -->
            <div class="mt-4 w-100 purple-text border-purple border-radius-10 px-2 py-3 review-section-container">
                <h3>
                    Reviews
                </h3>

                <!-- This section will display reviews that have been submitted, displayed to all user regardless of log in status -->
                {% if chocolate.choc_reviews.count > 0 %}
                    <p class="mt-3">Here's what other chocolate lovers are saying about <span
                            class="bright-purple-text"><strong>{{ chocolate.choc_friendly_name }}</strong></span>!</p>
                {% else %}
                    <p class="mt-3">Oh! There are no reviews yet for <span
                        class="bright-purple-text"><strong>{{ chocolate.choc_friendly_name }}</strong></span>.<br>
                        <br>Perhaps you'll be the first?</p>
                {% endif %}
                <!-- Loop through the chocolate_detail view's context (chocolate) from views.py and accesses
                the ChocolateReview model via the related name 'choc_reviews' to retrieve the review data
                and render it on the page, below chocolate image -->
                {% for review in chocolate.choc_reviews.all %}
                {% if review.publish_review == "Yes" %}
                <div class="mt-4">

                    <!-- Review content -->
                    <p class="pl-2 pb-1 mb-0">
                        <span class="bright-purple-text">"</span>
                        {{ review.review_content}}
                        <span class="bright-purple-text">"</span>
                    </p>

                    <!-- Review rating -->
                    <p class="pl-2 mb-0 small">
                        Rating: <strong>{{ review.choc_rating }} / 5</strong>
                    </p>

                    <!-- Review user -->
                    <p class="pl-2">
                        <span class="small">Left by <span
                                class="bright-purple-text">{{ review.created_by_user }}</span>, on
                            {{ review.created_date|date:"Y-m-d" }}</span>
                    </p>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <!-- Submit Review section -->
            <!-- If user is logged in, this section will be displayed allowing them to leave a review -->
            <div class="mt-4 w-100 purple-text border-purple border-radius-10 px-3 py-3 submit-review-container">
                {% if request.user.is_authenticated %}
                <P class="mt-1">Would you like to leave a short review for this chocolate?</P>
                <form method="POST" action=".">
                    {% csrf_token %}

                    <!-- Rating from 1 to 5, drop down menu -->
                    <div class="mt-3">
                        <label class="pr-5">
                            Select a rating (out of 5)
                        </label>
                        <select name="choc_rating">
                            <option class="purple-text px-2" value="1">1 </option>
                            <option class="purple-text px-2" value="2">2</option>
                            <option class="purple-text px-2" value="3" selected>3</option>
                            <option class="purple-text px-2" value="4">4</option>
                            <option class="purple-text px-2" value="5">5</option>
                        </select>
                    </div>

                    <!-- Review text content -->
                    <div class="mt-3">
                        <label>
                            Let us know your thoughts here...
                        </label>
                        <div class="bg-white border-purple border-radius-10 p-2 mb-2">
                            <textarea class="w-100 border-0 review-textarea purple-text" name="review_content"></textarea>
                        </div>
                    </div>
                    <p class="small mt-2">If you've already left a review for this chocolate, this will overwrite the existing review.</p>
                    <div>
                        <button class="mt-0 submit-review-button">Submit</button>
                    </div>
                </form>

                {% else %}

                <div class="mt-4 w-100 purple-text border-purple border-radius-10 px-3 pb-2 pt-0 submit-review-container">
                    <p>
                        <a class="text-white" href="{% url 'account_login' %}"><strong>Login</strong></a> or <a class="text-white" href="{% url 'account_signup' %}"><strong>register</strong></a> to submit a review!
                    </p>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- First column ends above this line -->

        <!-- Second column is the chocolate details container -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="chocolate-details-container mb-5">
                <h2 class="mb-2 d-none d-md-block purple-text">{{ chocolate.choc_friendly_name }}</h2>
                <p class="lead mb-2 text-left font-weight-bold purple-text">€{{ chocolate.choc_price }}</p>

                <!-- Displays the chocolate category below the price (e.g Dark, Milk, White etc) -->
                {% if chocolate.choc_category_display %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted"
                        href="{% url 'chocolates' %}?category={{ chocolate.choc_category_display.choc_category_name }}">
                        <i
                            class="fas fa-tag mr-2 active-cart"></i>{{ chocolate.choc_category_display.choc_category_friendly_name }}
                    </a>
                </p>
                {% endif %}

                <!-- Displays the diet type below the category (e.g Keto, Vegan, Gluten-Free etc) -->
                {% if chocolate.choc_dietary_type %}
                <p class="small mt-1 mb-0">
                    <i class="fa-solid fa-check text-success mr-2"></i><span
                        class="text-muted">{{ chocolate.choc_dietary_type.diet_friendly_name }}</span>
                </p>
                {% endif %}

                {% if chocolate.choc_rating %}
                <small class="text-muted"><i class="fas fa-star mr-2 text-warning"></i>{{ chocolate.get_choc_rating }} stars out of
                    5</small>
                {% else %}
                <small class="text-muted">No rating yet!</small>
                {% endif %}

                <!-- Chocolate description -->
                <p class="mt-3 purple-text">
                    {{ chocolate.choc_description }}
                </p>


                <!-- Pieces per item -->
                <p class="mt-3 purple-text ">
                    <span class="font-weight-bold">No. of pieces:</span> {{ chocolate.choc_pieces }}
                </p>

                <!-- Ingredients-->
                <p class="mt-3 purple-text ">
                    <span class="font-weight-bold">Ingredients:</span> {{ chocolate.choc_ingredients }}
                </p>

                <!-- Macro Nutrients -->
                <div class="purple-text">
                    <h6 class="font-weight-bold">
                        Nutritional Information (per piece):
                    </h6>
                    <ul>
                        <li>
                            Calories: {{ chocolate.choc_calories }} kcal
                        </li>
                        <li>
                            Protein: {{ chocolate.choc_protein }} grams
                        </li>
                        <li>
                            Sugar: {{ chocolate.choc_sugar }} grams
                        </li>
                        <li>
                            Carbs: {{ chocolate.choc_carbs }} grams
                        </li>
                        <li>
                            Fat: {{ chocolate.choc_fat }} grams
                        </li>
                    </ul>
                </div>



                <!-- Form starts here, uses POST method to add chocolate to bag -->
                <form class="form" action="{% url 'add_to_cart' chocolate.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">

                            <div id="quantity-form-group" class="form-group">
                                <p class="mt-3 purple-text text-center"><strong>Select Quantity:</strong></p>
                                <div class="input-group input-group-{{ chocolate.id }}">

                                    <!-- Button to reduce number of chocolates -->
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn rounded-lg decrement-qty_{{ chocolate.id }}"
                                            data-item_id="{{ chocolate.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus purple-text font-weight-bold"></i>
                                            </span>
                                        </button>
                                    </div>

                                    <input
                                        class="form-control qty_input id_qty_{{ chocolate.id }} text-center border-purple rounded-lg"
                                        type="number" name="quantity" value="1" min="1" max="99"
                                        data-item_id="{{ chocolate.id }}">

                                    <!-- Button to increase number of chocolates -->
                                    <div class="input-group-append">
                                        <button class="increment-qty btn rounded-lg increment-qty_{{ chocolate.id }}"
                                            data-item_id="{{ chocolate.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus purple-text font-weight-bold"></i>
                                            </span>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div id="add-to-cart-button-container">

                            <!-- Keep shopping button -->
                            <a href="{% url 'chocolates' %}" class="keep-shopping-button">
                                <span>
                                    Keep Shopping
                                </span>
                            </a>

                            <!-- Add to cart button -->
                            <input type="submit" id="add-to-cart-button" value="Add to Cart">
                        </div>
                        <!-- Hidden input containing current URL, allows redirect back to same page after chocolate added -->
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
                <!-- Form ends above here -->

                <!-- Edit and delete buttons are displayed if user is superuser -->
                {% if request.user.is_superuser %}

                <!-- This section will display the initial delete button, which when clicked will hide this secion and display the real delete button instead -->
                <div id="super-user-options-container">
                    <p class="super-user-options-text purple-text">
                        Superuser options:
                    </p>
                    <div class="superuser-options">
                        <a class="edit-button-detail" href="{% url 'edit_chocolate' chocolate.id %}">Edit</a>
                        <p id="pre-delete-button" class="delete-button-detail">Delete</p>
                    </div>
                </div>

                <!-- Once the delete button is clicked, the original container will be hidden and this one will be displayed instead -->
                <div id="super-user-delete-container" style="display: none;">
                    <p class="super-user-options-text bright-purple-text">
                        Are you really sure?
                    </p>
                    <div class="superuser-options">
                        <a class="delete-button-detail" href="{% url 'delete_chocolate' chocolate.id %}">Yes, delete</a>
                        <p id="cancel-delete-button" class="edit-button-detail">No, cancel</a>

                    </div>
                </div>
                {% endif %}



            </div>


        </div>

    </div>
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    // This provides a defence against accidental product deletion by hiding the
    // edit and delete buttons when the delete button is clicked, and displaying
    // a confirmation dialogue box instead
    document.getElementById("pre-delete-button").onclick = function () {
        document.getElementById("super-user-options-container").style.display = "none";
        document.getElementById("super-user-delete-container").style.display = "block";
    };

    document.getElementById("cancel-delete-button").onclick = function () {
        document.getElementById("super-user-delete-container").style.display = "none";
        document.getElementById("super-user-options-container").style.display = "block";
    };

    // JS Code block validated in JS Hint, no errors
</script>

{% include 'chocolates/includes/quantity_input_script.html' %}
{% endblock %}