<!-- This template is extended from the main base.html file located in the root templates directory -->
{% extends "base.html" %}
{% load static %}

<!-- Additional sub-header block below main header, extended from base.html -->
{% block page_header %}
    <div class="container header-container col-8 mx-auto">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}


<!-- The block content below is injected into the main base.html template -->
{% block content %}
<div class="container col-8 mx-auto">
    <div class="row">
        <div class="col">
            {{ chocolates }}
        </div>
    </div>
</div>
{% endblock %}