<!-- This template is extended from the main base.html file located in the root templates directory -->
{% extends "base.html" %}
{% load static %}

<!-- Additional sub-header block below main header, extended from base.html -->
{% block page_header %}
<div class="container header-container col-8 mx-auto mb-3">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}


<!-- The block content below is injected into the main base.html template -->
{% block content %}
<!-- Overlay div controls the background (changes it to all white) -->
<div class="overlay">
</div>


<div class="container-fluid col-12 col-md-10 col-lg-8 mt-3 mx-auto">
    <!-- One row split into two columns  -->
    <div class="row">

        <!-- First column is the chocolate image container -->
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2 mt-4">
            <div class="choc-image-container-detail my-5">
                {% if chocolate.choc_image %}
                <a href="{{ chocolate.choc_image.url }}" target="_blank">
                    <img class="card-img-top img-fluid rounded-2" src="{{ chocolate.choc_image.url }}"
                        alt="{{ chocolate.choc_name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid rounded-2" src="{{ MEDIA_URL }}noimage.webp"
                        alt="{{ chocolate.choc_name }}">
                </a>
                {% endif %}
            </div>
        </div>

        <!-- Second column is the chocolate details container -->
        <div class="col-12 col-md-6 col-lg-4 mt-4">
            <div class="chocolate-details-container mb-5">
                <h2 class="mb-2 purple-text">{{ chocolate.choc_friendly_name }}</h2>
                <p class="lead mb-2 text-left font-weight-bold purple-text">€{{ chocolate.choc_price }}</p>

                <!-- Displays the chocolate category below the price (e.g Dark, Milk, White etc) -->
                {% if chocolate.choc_category_display %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted"
                        href="{% url 'chocolates' %}?category={{ chocolates.choc_category_display.choc_category_name }}">
                        <i class="fas fa-tag mr-2 active-cart"></i>{{ chocolate.choc_category_display.choc_friendly_name }}
                    </a>
                </p>
                {% endif %}

                <!-- Displays the diet type below the category (e.g Keto, Vegan, Gluten-Free etc) -->
                {% if chocolate.choc_dietary_type %}
                <p class="small mt-1 mb-0">
                    <i class="fa-solid fa-check text-success mr-2"></i><span class="text-muted">{{ chocolate.choc_dietary_type.diet_friendly_name }}</span>
                </p>
                {% endif %}

                {% if chocolate.choc_rating %}
                <small class="text-muted"><i class="fas fa-star mr-2 text-warning"></i>{{ chocolate.choc_rating }} /
                    5</small>
                {% else %}
                <small class="text-muted">No Rating</small>
                {% endif %}
                <p class="mt-3 purple-text">{{ chocolate.choc_description }}</p>



                <!-- Form starts here, uses POST method to add chocolate to bag -->
                <form class="form" action="{% url 'add_to_cart' chocolate.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            
                            <div id="quantity-form-group" class="form-group">
                                <p class="mt-3 purple-text text-center"><strong>Select Quantity:</strong></p>
                                <div class="input-group">

                                    <!-- Button to reduce number of chocolates -->
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded-0"
                                            data-item_id="{{ chocolate.id }}" id="decrement-qty_{{ chocolate.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus purple-text font-weight-bold"></i>
                                            </span>
                                        </button>
                                    </div>

                                    <input class="form-control qty_input text-center border-purple rounded-lg" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ chocolate.id }}"
                                        id="id_qty_{{ chocolate.id }}">

                                    <!-- Button to increase number of chocolates -->
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-0"
                                            data-item_id="{{ chocolate.id }}" id="increment-qty_{{ chocolate.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus purple-text font-weight-bold"></i>
                                            </span>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div id="add-to-cart-button-container">

                            <!-- Keep shopping button -->
                            <a href="{% url 'chocolates' %}" class="keep-shopping-button">
                                <span>
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span>
                                    Keep Shopping
                                </span>
                            </a>

                            <!-- Add to cart button -->
                            <input type="submit" id="add-to-cart-button" value="Add to Cart">
                        </div>
                        <!-- Hidden input containing current URL, allows redirect back to same page after chocolate added -->
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
                <!-- Form ends above here -->

                <!-- Edit and delete buttons are displayed if user is superuser -->
                {% if request.user.is_superuser %}
                <div id="super-user-options-container">
                    <p id="super-user-options-text" class="purple-text">
                        Superuser options:
                    </p>
                    <div id="Superuser-options">
                    <a id="edit-button-detail" href="{% url 'edit_chocolate' chocolate.id %}">Edit</a>
                    <a id="delete-button-detail" href="{% url 'delete_chocolate' chocolate.id %}">Delete</a>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'chocolates/includes/quantity_input_script.html' %}
{% endblock %}