{% if widget.is_initial %}
<p>{{ widget.initial_text }}:</p>
<a href="{{ widget.value.url }}">
    <img width="200" class="rounded shadow-lg border-purple" src="{{ widget.value.url }}" alt="Image of chocolate">
</a>
{% if not widget.required %}
<div class="custom-control custom-checkbox mt-2">
    <input class="custom-control-input" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
    <label class="custom-control-label text-danger"
        for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
</div>
{% endif %}<br>
{{ widget.input_text }}
{% endif %}

<!-- Form input for chocolate image, from customer_clearable_file_input.html -->
<span class="btn btn-black rounded-0 btn-file">
    <!-- Select Image button, from customer_clearable_file_input.html -->

    <!-- The original code resulted in a duplicate ID error, I tried changing to class and other methods, however, a Code Institute student, Katie Dunne, highlighted a solution in her repository for the same issue, I copied the same solution from her repo found here https://github.com/KSDunne/summit_style. The solution can be found in the 'resolved bugs' section. It invoves changing the ID to a 'data-category'.  -->

    Select Image <input data-category="new-image" type="{{ widget.type }}" name="{{ widget.name }}"
        {% include "django/forms/widgets/attrs.html" %}>
</span>

<p class="bright-purple-text mt-2 font-weight-bold" id="filename"><strong></strong></p>
