{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %} Checkout{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row mt-4">
            <div class="col">
                <h2 class="purple-text mt-3">Checkout</h2>
            </div>
        </div>

        <div class="row">

            <!-- This div will show up on the right on large screens (order-lg-last) -->
            <div class="col-12 col-lg-6 order-lg-last mb-5">

                <!-- Order Summary -->
                <p class="text-muted bright-purple-text mb-5">Order Summary: {{ chocolate_count }} items</p>
                <div class="row">
                    <div class="col-7 offset-2">
                        <p class="mb-1 mt-0 small purple-text font-weight-bold">Item</p>
                    </div>
                    <div class="col-3 text-right">
                        <p class="mb-1 mt-0 small purple-text font-weight-bold">Subtotal</p>
                    </div>
                </div>

                <!-- Loops through the cart items and renders an image, chocolate details and subtotal -->
                {% for item in cart_items %}
                    <div class="row">

                        <!-- Chocolate image -->
                        <div class="col-2 mb-1">
                            <a href="{% url 'chocolate_detail' item.chocolate.id %}">
                                {% if item.chocolate.choc_image %}
                                    <img class="w-100 rounded-lg" src="{{ item.chocolate.choc_image.url }}" alt="{{ chocolate.choc_friendly_name }}">
                                {% else %}
                                    <img class="w-100 rounded-lg" src="{{ MEDIA_URL }}noimage.png" alt="{{ chocolate.choc_friendly_name }}">
                                {% endif %}
                            </a>
                        </div>

                        <!-- Chocolate details -->
                        <div class="col-7">
                            <p class="my-0 purple-text">{{ item.chocolate.choc_friendly_name }}</p>
                            <!-- <p class="my-0 small">Size: {% if item.chocolate.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p> -->
                            <p class="my-0 small bright-purple-text">Qty: {{ item.quantity }}</p>
                        </div>

                        <!-- Subtotal -->
                        <div class="col-3 text-right">
                            <p class="my-0 small purple-text font-weight-bold">€{{ item.chocolate.choc_price | calc_subtotal:item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
                <hr class="my-4">

                <!-- Order summary and delivery cost -->
                <div class="row text-right checkout-total-text">
                    <div class="col-7 offset-2 pr-0">
                        <p class="pr-2 my-1 purple-text">Cart Total: </p>
                        <p class="pr-2 my-1 bright-purple-text">Delivery: </p>
                        <hr class="my-1">
                        <h5 class="pr-2 my-1 purple-text">Order Total: </h5>
                    </div>
                    <div class="col-3 checkout-total-text pl-0">
                        <p class="pr-2 my-1 purple-text">€{{ total | floatformat:2 }}</p>
                        <p class="pr-2 my-1 bright-purple-text">€{{ delivery | floatformat:2 }}</p>
                        <hr class="my-1">
                        <h5 class="pr-2 my-1 purple-text"><strong>€{{ grand_total | floatformat:2 }}</strong></h5>
                    </div>
                </div>
            </div>

            <!-- Checkout form is rendered below -->
            <div class="col-12 col-lg-6 mt-5">
                <p class="text-muted mb-4 pl-2 purple-text">Please fill out the form below to make a payment and complete your order</p>
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}

                    <!-- Form is divided into 3 fieldset sections -->
                    <!-- First fieldset displays customer details -->
                    <fieldset class="rounded-lg px-1 mb-5">
                        <legend class="fieldset-label small text-black px-2 w-auto"> Your Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>

                    <!-- Second fieldset displays delivery details -->
                    <fieldset class="rounded-lg px-1 mb-5">
                        <legend class="fieldset-label small text-black px-2 w-auto">Delivery Details</legend>
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}

                        <!-- Allows authenticated users to save the information to their profile -->
                        <div class="rounded-lg form-check form-check-inline float-right mr-0">
							{% if user.is_authenticated %}
								<label class="form-check-label save-info-text bright-purple-text" for="id-save-info">Save this delivery information to my Chocelegance profile</label>
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
							{% else %}
								<label class="form-check-label purple-text" for="id-save-info">
                                    <a class="bright-purple-text" href="{% url 'account_signup' %}">Create an account</a> or 
                                    <a class="bright-purple-text" href="{% url 'account_login' %}">login</a> to save this information
                                </label>
							{% endif %}
						</div>
                    </fieldset>

                    <!-- Third fieldset relates to the payment information, this will be handled by Stripe -->
                    <fieldset class="px-1">
                        <legend class="fieldset-label small text-black px-1 w-auto">Payment</legend>
                        <!-- A Stripe card element will go here -->
                        <div class="mb-3" id="card-element"></div>

                        <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>

                        <!-- Pass the client secret to the view so we can get the payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        
                    </fieldset>

                    <div class="checkout-button-container text-right mt-5 mb-2">

                        <!-- Notification that the customer's card is about to be charged! -->
						<p class="charge-notification text-center mb-0 float-right">
							<span class="icon">
								<i class="fas fa-exclamation-circle"></i>
							</span>
							<span class="text-center">Your card will be charged <strong>€{{ grand_total|floatformat:2 }}</strong></span>
						</p>
                        
                        <!-- Link back to shopping cart in case adjustment is desired -->
						<a href="{% url 'view_cart' %}" class="btn cart-keep-shopping-button">
							<span class="">Adjust Cart</span>
						</a>

                        <!-- Submit button, will be executed by javascript -->
						<button id="submit-button" class="btn cart-checkout-button">
							<span>Complete Order</span>
							<span class="icon">
								<i class="fas fa-lock"></i>
							</span>
						</button>
					</div>
                </form>
            </div>
        </div>
    </div>


    <!-- Loading overlay disaplyed when 'complete order' button clicked -->
    <div id="loading-overlay">
        <h1 class="loading-heart">
            <span>
                <span class="loading-heart">&#10084;</span>
            </span>
        </h1>
    </div>




{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}