#profile-update-form .form-control {
    color: #551b8c;
}


.profile-form-input::placeholder {
    color: #551b8c;
    opacity: .6;
}

#id_default_country,
#id_default_country option:not(first-child) {
    color: #551b8c;
}

#id_default_country option:first-child {
    color: #551b8c60;
}

.oder-history{
    max-height: 416px; /* Height of profile form and submit button */
    overflow-y: auto;
}