html {
    height: 100%;
}

body {
    font-family: "Urbanist", Arial, Helvetica, sans-serif;
}


#hero-image-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 65%;
    margin: 0 auto;
    margin-top: 3rem;
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url("/media/hero-image-final.webp");
  
    /* Set a specific height */
    height: 40rem;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    border: 1px solid #551b8c;
}


#hero-image-text-heading {
    margin: 0 auto;
    font-family: "Urbanist";
    font-size: 4rem !important;
    font-weight: 200;
    width: 30rem;
    text-align: left;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
}

#hero-image-text-sub-heading {
    font-size: 1.5rem;
    font-family: "Urbanist";
    font-weight: 100;
    width: 30rem;
    text-align: left;
    position: absolute;
    top: 65%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
}

/* shop-button {
    width: 20rem;
    text-align: center; */
    /* background: #551b8c; */
    /* position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 19%;
    border: 1px solid #551b8c;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
} */


/* The glow effect for the shop button below was adapted from code by codepen user Kanishk Kunal 
link to code is here https://codepen.io/kanishkkunal/pen/obGojO */

#shop-button {
    width: 20rem;
    /* background: #551b8c; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 20%;
    background: #551b8c;
    /* padding: 15px 40px; */
    border-radius: 15px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    border: 1px solid #882bde;
    box-shadow: 0 0px 50px #ed82ed;
  }

#shop-button:hover{
    background: #c71585;
    border: 1px solid #ed82ed;
    box-shadow: 0 0px 100px #ed82ed;
}

#shop-button a {
    padding-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}




/* Need to adjust the hero image using the rules below */
/* body {
    background: url('/media/hero-image-final.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: "Urbanist", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
} */

/* from Bulma, used to ensure consistent styling of icons (centering etc) */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}


/* Button styling to ensure consistency */
.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

/* Button styling to ensure consistency */
.btn-black {
    background: black;
    color: white;
}

/* Button styling to ensure consistency */
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}



/* Text styling  */
.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important
}


.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

#delivery-banner {
    border-radius: 5px;
    /* Background gradient effect generated from cssgradient.io */
    background: rgb(237,130,237);
    background: -moz-linear-gradient(153deg, rgba(237,130,237,1) 0%, rgba(199,21,128,1) 22%, rgba(199,21,128,1) 82%, rgba(237,130,237,1) 100%);
    background: -webkit-linear-gradient(153deg, rgba(237,130,237,1) 0%, rgba(199,21,128,1) 22%, rgba(199,21,128,1) 82%, rgba(237,130,237,1) 100%);
    background: linear-gradient(153deg, rgba(237,130,237,1) 0%, rgba(199,21,128,1) 22%, rgba(199,21,128,1) 82%, rgba(237,130,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ed82ed",endColorstr="#ed82ed",GradientType=1); 
    padding-top: .2rem;
    padding-bottom: .2rem;
    text-transform: uppercase;
    font-weight: 100;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #551b8c;
}


a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    background: #882bde;
    border: 1px solid #551b8c;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.btt-button i {
    color: white;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

#back-to-top-icon {
    color: white !important;
}

#add-to-cart-button-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 20rem;
}

#add-to-cart-button{
    font-family: "Urbanist";
    font-size: 1.1rem;
    margin-top: 2rem;
    width: 10rem;
    height: 3rem;
    transform: translate(-50%, -50%);
    background: #551b8c;
    border-radius: 10px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    border: 1px solid #882bde;
    box-shadow: 0 0px 2px #ed82ed;
    color: white;
    padding-bottom: .3rem;
}

#add-to-cart-button:hover{
    background: #c71585;
    border: 1px solid #ed82ed;
    box-shadow: 0 0px 10px #ed82ed;
}



#keep-shopping-button {
    font-family: "Urbanist";
    font-size: 1.1rem;
    padding-top: .5rem;
    margin-top: .5rem;
    width: 10rem;
    height: 3rem;
    transform: translate(-50%, -50%);
    background: #9e7abe;
    border-radius: 10px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    border: 1px solid #882bde;
    box-shadow: 0 0px 2px #ed82ed;
    color: white;
    text-align: center;
}


#keep-shopping-button:hover {
    background: #742557;
    border: 1px solid #ed82ed;
    box-shadow: 0 0px 10px #ed82ed;
    text-decoration: none;
}

#keep-shopping-button a {
    text-decoration: none;
}


.message-container {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 9999999;
    
}

.custom-toast {
    overflow: visible;
    border-radius: 10px;
}

.toast-capper {
    height: .3rem;
}

.toast-header {
    background: #551b8c;
    color: white;
    font-weight: 100;
}

.toast-body {
    background: #882bde;
    color: white;
}
/* -------------------------------- Media Queries ------------------------------- */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* padding below navbar when collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 180px;
    }

    body {
        height: calc(100vh -116px);
    }
}
