html {
    height: 100%;
}


/* Need to adjust the hero image using the rules below */
body {
    background: url('/media/hero-image-final.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: "Urbanist", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

/* from Bulma, used to ensure consistent styling of icons (centering etc) */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}


/* Button styling to ensure consistency */
.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

/* Button styling to ensure consistency */
.btn-black {
    background: black;
    color: white;
}

/* Button styling to ensure consistency */
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}



/* Text styling  */
.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #c71585 !important;
}

/* -------------------------------- Media Queries ------------------------------- */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}


