{% extends 'base.html' %}
{% load static %}

{% block head_title %}404 Not Found{% endblock %}

{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 purple-text">
                    Oops!
                </h1>
                <p class="display-4 purple-text">That page doesn't exist..</p>
                <div class="treat-yourself-button my-5">
                    <p>
                        <a href="{% url 'chocolates' %}">
                                Back to Chocolates
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}