{% extends 'base.html' %}
{% load static %}

{% block head_title %}404 Not Found{% endblock %}

{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="container">
        <div class="row h-100">
            <div class="col-7 col-md-6 mt-5">
                <h1 class="purple-text">
                    Oops!
                </h1>
                <h2 class="purple-text">That page doesn't exist..</h2>
                <div class="treat-yourself-button mt-5">
                    <p>
                        <a href="{% url 'chocolates' %}">
                                Back to Chocolates
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}