<!-- This html file concerns the 'secondary' nav bar which provides the user with navigation through the products -->

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto">

        <!-- All Products drop down menu -->
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 purple-text h4 glow" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Chocolates
            </a>
            <div class="dropdown-menu border" aria-labelledby="all-products-link">
                <a href="{% url 'chocolates'%}?sort=choc_price&direction=asc" class="dropdown-item purple-text">By
                    Price</a>
                <a href="{% url 'chocolates'%}?sort=choc_rating&direction=desc" class="dropdown-item purple-text">By
                    Rating</a>
                <a href="{% url 'chocolates'%}?sort=choc_category_display&direction=asc"
                    class="dropdown-item purple-text">By Category</a>
                <a href="{% url 'chocolates' %}" class="dropdown-item purple-text"><strong>All Products</strong></a>
            </div>
        </li>

        <!-- Keto chocolate drop down menu -->
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 purple-text h4 glow" href="#" id="clothing-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Keto
            </a>
            <div class="dropdown-menu border" aria-labelledby="keto-chocolate-link">
                <a href="{% url 'chocolates' %}?choc_category_display=dark_choc" class="dropdown-item purple-text">Dark
                    Chocolate</a>
                <a href="{% url 'chocolates' %}?choc_category_display=milk_choc" class="dropdown-item purple-text">Milk
                    Chocolate</a>
                <a href="{% url 'chocolates' %}?choc_category_display=white_choc"
                    class="dropdown-item purple-text">White Chocolate</a>
                <a href="{% url 'chocolates' %}?choc_category_display=dark_choc,milk_choc,white_choc"
                    class="dropdown-item purple-text"><strong>All Keto</strong></a>
            </div>
        </li>

        <!-- Vegan chocolate drop down menu -->
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 purple-text h4 glow" href="#" id="homeware-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Vegan
            </a>
            <div class="dropdown-menu border" aria-labelledby="keto-chocolate-link">
                <a href="{% url 'chocolates' %}?choc_category_display=dark_choc" class="dropdown-item purple-text">Dark
                    Chocolate</a>
                <a href="{% url 'chocolates' %}?choc_category_display=milk_choc" class="dropdown-item purple-text">Milk
                    Chocolate</a>
                <a href="{% url 'chocolates' %}?choc_category_display=white_choc"
                    class="dropdown-item purple-text">White Chocolate</a>
                <a href="{% url 'chocolates' %}?choc_category_display=dark_choc,milk_choc,white_choc"
                    class="dropdown-item purple-text"><strong>All Vegan</strong></a>
            </div>
        </li>

        <!-- Gluten-free chocolate drop down menu -->
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 purple-text h4 glow" href="#" id="homeware-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Gluten-Free
            </a>
            <div class="dropdown-menu border" aria-labelledby="keto-chocolate-link">
                <a href="{% url 'chocolates' %}?choc_category_display=dark_choc" class="dropdown-item purple-text">Dark
                    Chocolate</a>
                <a href="{% url 'chocolates' %}?choc_category_display=milk_choc" class="dropdown-item purple-text">Milk
                    Chocolate</a>
                <a href="{% url 'chocolates' %}?choc_category_display=white_choc"
                    class="dropdown-item purple-text">White Chocolate</a>
                <a href="{% url 'chocolates' %}?choc_category_display=dark_choc,milk_choc,white_choc"
                    class="dropdown-item purple-text"><strong>All Gluten-Free</strong></a>
            </div>
        </li>

        <!-- Special Offers drop down menu -->
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link purple-text h4 glow" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border" aria-labelledby="specials-link">
                <a href="" class="dropdown-item purple-text">New Arrivals</a>
                <a href="" class="dropdown-item purple-text">Deals</a>
                <a href="" class="dropdown-item purple-text">Clearance</a>
                <a href="" class="dropdown-item purple-text"><strong>All Specials</strong></a>
            </div>
        </li>
    </ul>
</div>


<script>
    // JS code to add a transition effect to the drop down menu was copied
    // directly from a StackOverflow post, link below:
    // https://stackoverflow.com/questions/12115833/adding-a-slide-effect-to-bootstrap-dropdown

    // Add slideDown animation to Bootstrap dropdown when expanding.
    $('.dropdown').on('show.bs.dropdown', function () {
        $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
    });

    // Add slideUp animation to Bootstrap dropdown when collapsing.
    $('.dropdown').on('hide.bs.dropdown', function () {
        $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
    });
</script>