<!-- This html file includes 3 list items to be used on the mobile version of the navbar -->


<!-- This list item provides a button to open the search bar, from mobile-top-header.html. -->
<ul class="m-0 p-0">
    <li class="list-inline-item m-0 p-0">
        <a class="nav-link d-block d-lg-none purple-text" href="#" id="mobile-search" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <div><i class="fas fa-search fa-lg"></i></div>
                <p class="my-0">Search</p>
            </div>
        </a>

        <!-- Search form, from mobile-top-header.html. -->
        <div class="dropdown-menu border-0 w-100 p-3 rounded-lg my-0" aria-labelledby="mobile-search">
            <form class="form" method="GET" action="{% url 'chocolates' %}">
                <div class="input-group w-100">
                    <input class="form-control border border-purple rounded-lg" type="text" name="q"
                        placeholder="Search for chocolates..">
                    <div class="input-group-append">
                        <button class="form-control form-control btn btn-purple border border-purple rounded-lg"
                            type="submit">
                            <span class="icon">
                                <i class="fas fa-search "></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </li>

    <!-- This list item allows user to open the My Account drop down menu, from mobile-top-header.html. -->
    <li class="list-inline-item dropdown m-0 p-0">
        <!-- Link to 'My Account', from mobile-top-header.html. -->
        <a class="purple-text nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <div><i class="fas fa-user fa-lg"></i></div>
                <p class="my-0">My Account</p>
            </div>
        </a>
        <!-- DTL logic to give user based options to log in, from mobile-top-header.html. -->
        <div class="dropdown-menu border-purple" aria-labelledby="user-options">
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <a href="{% url 'add_chocolate' %}" class="dropdown-item purple-text">Chocolate Management</a>
            {% endif %}
            <a href="{% url 'profile' %}" class="dropdown-item purple-text">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item purple-text"><strong>Logout</strong></a>
            <p class="dropdown-login-status bright-purple-text"><strong>Logged in as {{ user }}</strong></p>
            {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item purple-text">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item purple-text"><strong>Login</strong></a>
            {% endif %}
        </div>
    </li>

    <!-- This list item allows access to the shopping bag, from mobile-top-header.html. -->
    <li class="list-inline-item m-0 p-0">
        <a class="{% if grand_total %}active-cart font-weight-bold{% else %}purple-text{% endif %} nav-link d-block d-lg-none"
            href="{% url 'view_cart' %}">
            <div class="text-center">
                <div><i class="fas fa-solid fa-cart-shopping fa-lg"></i></div>
                <p class="my-0">
                    {% if grand_total %}
                    ${{ grand_total|floatformat:2 }}
                    {% else %}
                    $0.00
                    {% endif %}
                </p>
            </div>
        </a>
    </li>
</ul>