.fieldset-label {
    position: relative;
    right: .5rem;
    color: #551b8c;
    font-size: 1.2rem;
    font-weight: bold;
}

#payment-form .form-control, #card-element {
    color: #551b8c;
    border: 1px solid #551b8c;
}

