<!-- This template is extended from the main base.html file located in the root templates directory -->
{% extends "base.html" %}
{% load static %}

{% block extra_title %} About{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

<!-- Additional sub-header block below main header, extended from base.html -->
{% block page_header %}
<div class="container header-container col-8 mx-auto">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

<!-- The block content below is injected into the main base.html template -->
{% block content %}

<div id="about-outer-container">

    <div class="about-container col-12 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="about-text mt-5">
            <h2 class="purple-text text-center">About Us</h2>
            <br>

            <!-- Blockquote and 'about us' text below was adapted from https://puccinibomboni.com/en/our-story -->
            <figure>
                <blockquote class="blockquote purple-text">
                    <p>
                        <strong class="bright-purple-text">"</strong> Every individual piece of chocolate crafted at
                        Chocelegance is intended to be a unique
                        experience. A symphony of delight, rich in flavour and a celebration of taste. When
                        you eat our chocolates, you should taste all the notes that our organic cocoa beans have to
                        offer! <strong class="bright-purple-text">"</strong>
                    </p>
                </blockquote>

                <figcaption class="blockquote-footer bright-purple-text">
                    Carol Ruiterman

                    <span>
                        , Creative Director and founder at Chocelegance
                    </span>
                </figcaption>
            </figure>
            <br>
            <p class="purple-text">
                This was already the vision of founder Carol Ruiterman when, in 2017, she opened a dessert shop in
                Amsterdam with her daughter Sabine. With the belief that they could improve the taste of chocolate with
                their own unique perspective and creativity. While also offering innovative recipes that cater to the
                evolving <strong class="bright-purple-text">dietary</strong> requirements of chocolate lovers!
                <br>
                <br>
                Chocelegance's innovative diet friendly creations include recipes for <strong
                    class="bright-purple-text">Keto</strong>, <strong class="bright-purple-text">Vegan</strong> and
                <strong class="bright-purple-text">Gluten-Free</strong> diets.
                <br>
                <br>
                At Chocelegance, everything revolves around originality. From classic combinations to surprising
                flavors, from amaretto to anise, from pepper to poppy seeds, from tea to thyme. These unique flavors are
                intensified by combining them with the purest chocolate foundations from an assortment of up to 70% dark
                chocolate.
                <br>
                <br>
                To preserve this beautiful, rich chocolate flavor, Chocelegance's recipes replace the butter and sugar
                typically used with pure cream and diet friendly <strong class="bright-purple-text">organic</strong> alternatives. This enhances the flavor and
                ensures that the filling is the star of each chocolate. All in support of the most important belief: it
                must taste absolutely <strong class="bright-purple-text">delicious</strong>!
            </p>
        </div>
    </div>

    <div class="about-container col-12 mt-5 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h2 class="purple-text text-center">Contact</h2>
        <br>
        <p class="purple-text">
            The fastest way to reach us is by <strong>phone</strong>: <span class="bright-purple-text">+31 6 321 9876 54321</span>.
            <br><br>
            Alternatively, the most popular way to reach us is by <strong>email</strong>: <span class="bright-purple-text">contact@chocelegance.nl</span> (we usually respond within 24 hours).
        </p>
    </div>

    <!-- FAQ Accordion container -->
    <div class="faq-container col-12 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="faq-text mt-5">

            <h2 class="purple-text text-center">FAQs</h2>
            <br>
            <p class="purple-text">
                Below you can find the answers to our most frequently asked questions!
                <br>
                <br>
                If you can't find what you're looking for here, don't worry, we're always happy to help. Just send us an
                email at <span class="bright-purple-text">contact@chocelegance.nl</span> and we'll respond as quickly as
                possibly (usually within 24 hours).
            </p>
            <br>


            


            <!-- Accordion section containing the questions and answers -->
            <div id="accordion" class="accordion-container">


                <div class="mx-auto mb-5 w-100" id="faq-accordion">
                    {% for faq in faqs %}
                    {% if faq.faq_publish == "Yes" %}

                    <!-- FAQ Accordion card -->
                    <div class="card">

                        <!-- Accordiong header containing question text -->
                        <div class="card-header border-0" id="heading{{faq.id}}">
                            <h2 class="mb-0">
                                <button class="accordion-btn btn btn-link w-100 text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapse_{{faq.id}}" aria-expanded="false"
                                    aria-controls="collapse_{{faq.id}}">
                                    {{ faq.faq_question }}
                                </button>
                            </h2>
                        </div>

                        <!-- Accordiong body containing answer text -->
                        <div id="collapse_{{faq.id}}" class="collapse" aria-labelledby="heading{{faq.id}}"
                            data-parent="#faq-accordion">
                            <div class="accordion-card-body purple-text border-0">
                                {{ faq.faq_answer }}
                            </div>
                        </div>

                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- Accordion div is closed above this line -->


       

        </div>
    </div>
    <!-- FAQ div is closed above this line -->

</div>

{% endblock %}