<div class="toast custom-toast border-top-0 rounded-2" data-autohide="true" data-delay=5000>
    <div class="arrow-up arrow-success rounded-2"></div>
    <div class="w-100 toast-capper bg-success rounded-2"></div>

    <!-- Toast header -->
    <div class="toast-header rounded-2">
        <strong class="mr-auto">Success!</strong>
        <button type="button" class="ml-2 mb-1 close text-white" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- Toast body -->
    <div class="toast-body rounded-2">
        <div class="row">
            <!-- The success message will be shown in the message container in base.html -->
           <div class="col">
               {{ message }}
               <hr class="mt-2 mb-3 toast-hr">
           </div>
       </div>

       <!-- DTL logic to display shopping cart items -->
       {% if grand_total and not on_profile_page %}

            <!-- Cart total quantity -->
            <p class="py-1">Your Cart Quantity: {{ chocolate_count }} items</p>
            <div class="bag-notification-wrapper">
                {% for item in cart_items %}
                    <div class="row mb-3">

                        <!-- Chocolate image -->
                        <div class="col-3 my-1">
                            {% if item.chocolate.choc_image %}
                            <img class="w-100 rounded-lg" src="{{ item.chocolate.choc_image.url }}" alt="{{ item.chocolate.choc_friendly_name }}">
                            {% else %}
                            <img class="w-100 rounded-lg" src="{{ MEDIA_URL }}noimage.webp" alt="{{ item.chocolate.choc_name }}">
                            {% endif %}
                        </div>


                        <!-- Chocolate name and quantity -->
                        <div class="col-9">
                            <p class="my-0"><strong>{{ item.chocolate.choc_friendly_name }}</strong></p>
                            <p class="my-0 small">Quantity: {{ item.quantity }}</p>
                            <p class="my-0 small">Price per Item: €{{ chocolate.choc_price }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Grand total and checkout link -->
            <div class="row">
                <div class="col">
                    <strong><p class="mt-3 mb-1">
                        Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}: 
                        <span class="float-right">€{{ total|floatformat:2 }}</span>
                    </p></strong>
                    {% if free_delivery_delta > 0 %}
                        <p class="my-2 p-2 toast-free-delivery shadow-sm text-center">
                            Spend <strong>€{{ free_delivery_delta }}</strong> more to get free delivery!
                        </p>
                    {% endif %}
                    <a href="{% url 'view_cart' %}" id="toast-checkout-button" class="btn btn-block">
                        <span>Go To Secure Checkout</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>

