<div class="toast custom-toast border-top-0 rounded-2" data-autohide="false">
    <div class="arrow-up arrow-success rounded-2"></div>
    <div class="w-100 toast-capper bg-success rounded-2"></div>

    <!-- Toast header -->
    <div class="toast-header rounded-2">
        <strong class="mr-auto">Success!</strong>
        <button type="button" class="ml-2 mb-1 close text-white" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- Toast body -->
    <div class="toast-body rounded-2">
        <!-- The message will be shown in the message container in base.html -->
        {{ message }}        
    </div>
</div>